logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
storybook-static
**/test/e2e/.auth
*.local
.pnpm-store

.vscode
.cursor
.claude
.codex
.crush
.idea
.DS_Store
.env
.envrc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
